{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1 class="text-center">My DJANGO Blog Project</h1>

    </header>
    <main class="text-center">
        <nav class="text-center">
            <a href="{% url 'post_list' %}" >Home</a>
        </nav>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>